[Unit]
Description=DHT11 Sensor Service
After=network.target postgresql@11-main.service postgresql.service

[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
ExecStart=/usr/bin/python3 /opt/dht11-flask-app/sensor/read_dht.py

[Install]
WantedBy=multi-user.target
